<span class="last-added-table-header">Last added contacts:</span>
<table class="last-added-table">
    <tr ng-repeat="contact in lastAddedContact">
        <td>
            <a ng-bind="contact.first_name + ' ' + contact.last_name"></a><br>
            <span ng-bind="contact.cellphone_number" ng-show="contact.cellphone_number && contact.cellphone_number.length > 0"></span>
            <span ng-hide="contact.cellphone_number && contact.cellphone_number.length > 0">No number</span>
        </td>
    </tr>
</table>