<div ng-controller="contactsController">
    <table class="contacts-list">
        <tr>
            <th>Name:</th>
            <th>Email:</th>
            <th>Cell phone</th>
            <th>Landline:</th>
        </tr>
        <tr ng-repeat="contact in contactsModel">
            <td>
                <span ng-bind="contact.first_name + ' ' + contact.last_name"></span>
            </td>
            <td>
                <span ng-bind="contact.email"></span>
            </td>
            <td>
                <span ng-bind="contact.phone_number"></span>
            </td>
            <td>
                <span ng-bind="contact.cellphone_number"></span>
            </td>
        </tr>

    </table>
</div>