{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <!-- include scripts-->
    <script type="text/javascript" src="{% static 'angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'ui-bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'routeProvider.js' %}"></script>
    <script type="text/javascript" src="{% static 'mainController.js' %}"></script>
    <script type="text/javascript" src="{% static 'contactsController.js' %}"></script>
    <script type="text/javascript" src="{% static 'singleContactController.js' %}"></script>

</head>

<body>
<div  ng-app="app" class="main-container">
    <h2 class="header">My contact book</h2>
    <a class="main-page-link" href="#/home">Main page</a>
    <a class="contacts-page-link" href="#/contacts">Contacts</a>


    <div ng-view>

    </div>
    <script type='text/ng-template' id='home.html'>
        <div ng-controller="mainController">

            <table>
                <tr>
                    <td>
                        <span>First Name:</span>
                        <span ng-bind="user.firstName"></span>
                    </td>
                    <td>
                        <span>Email:</span>
                        <span ng-bind="user.email"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Last Name:</span>
                        <span ng-bind="user.lastName"></span>
                    </td>
                    <td>
                        <span>Jabber:</span>
                        <span ng-bind="user.jabber"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Date of birth:</span>
                        <span ng-bind="user.birthDate"></span>
                    </td>
                    <td>
                        <span>Skype:</span>
                        <span ng-bind="user.skype"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Bio:</span>
                        <span ng-bind="user.bio"></span>
                    </td>
                    <td>
                        <a href="javascript:void(0)">Other...</a>
                    </td>
                </tr>
            </table>
        </div>
    </script>

    <script type='text/ng-template' id='list.html'>
        <div ng-controller="contactsController">
            <table class="contacts-list">
                <tr>
                    <th>Name:</th>
                    <th>Email:</th>
                    <th>Cell phone</th>
                    <th>Landline:</th>
                </tr>
                <tr ng-repeat="contact in contactsModel"  ng-click="openContactDetails(contact)" style="cursor: pointer;">
                    <td>
                        <span ng-bind="contact.first_name + ' ' + contact.last_name"></span>
                    </td>
                    <td>
                        <span ng-bind="contact.email"></span>
                    </td>
                    <td>
                        <span ng-bind="contact.phone_number"></span>
                    </td>
                    <td>
                        <span ng-bind="contact.cellphone_number"></span>
                    </td>
                </tr>

            </table>
        </div>
    </script>

    <script type='text/ng-template' id='contact.html'>
        <div ng-controller="singleContactController">
            <table>
                <tr>
                    <td>
                        <span>Name:</span>
                        <input ng-model="model.first_name"/>
                    </td>
                    <td>
                        <span>Last Name:</span>
                        <input ng-model="model.last_name"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Email:</span>
                        <input ng-model="model.email"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Cell phone:</span>
                        <input ng-model="model.cellphone_number"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Landline:</span>
                        <input ng-model="model.phone_number"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Birth date::</span>
                        <input ng-model="model.birth_date"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>JID:</span>
                        <input ng-model="model.jabber_id"/>
                    </td>
                </tr>
            </table>
            <button ng-click="save()" class="save-contact-button">SAVE</button>
            <a href="#/contacts" class="back-to-contact-list">Back to all contacts</a>
        </div>
    </script>
</div>
</body>
</html>